body{
    
    margin: 0px;
    background: #2f2f2f;
    height: 100%;
}
.wrapper{
    height: 178px;
    width: 700px;
    margin-top: 40px;
    margin-left: 50px;
    border: 1px solid #757575;
    border-radius: 4px;
    background-color: #2f2f2f;
    padding: 1px;
    border-collapse: collapse;
}

.table1{
    border-collapse: collapse;
    height: 180px;
    width: 700px;
}

.thead{
    color: #e7e7e7;
    text-align: left;
    font-size: 14px;
    font-family: sans-serif;
    border-bottom: 1px solid #757575;
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td   {
    height: 31px;
    border-collapse: collapse;
    border-bottom: 1px solid rgb(110, 110, 110);
    padding: 5px 10px 5px 10px;
}

th{
    height: 40px;
    border-collapse: collapse;
    border-bottom: 1px solid rgb(110, 110, 110);
    padding: 5px 4px 0 10px;
}

.select1{
    background: #2f2f2f;
    color: #e7e7e7;
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-image: url(./image/зображення_viber_2022-10-03_14-45-41-177.png) ; 
    appearance: none;
    border: none;
    background-position: right -0.3000000000000007em top 50%, 0 0;
}


.column1{
    width: 50%;
    font: 14px 'Robot';
    color: #c0c0c0;
}
.column2{
    width: 25%;
    font: 14px 'Robot';
    color: #6d6d6d;
}

.column3{
    text-align: right;
    width: 25%;
}

.table1 img{
    display: initial;
    width: 11.5px;
    height: 11px;
    border-radius: 2px;
    padding: 0 0 0 4.5px;
}


.table1 img{
    display: inline;
    width: 11.5px;
    height: 11px;
    border-radius: 2px;
    padding: 0 0 0 4.5px;
}

.select2{
    padding: 0 0 0 5px;
    background: #2f2f2f;
    color: #e7e7e7;
    font-size: 14px;
    font-family: sans-serif;
    background-image: url(./image/зображення_viber_2022-10-03_14-45-41-177.png);
    background-repeat: no-repeat;
    appearance: none;
    border: none;
    background-position: right -0.3000000000000007em top 50%, 0 0;
    display: inline;
}

.search{
    display: inline;
    padding: 8px 0 8px 0;
    width: 150px;
    background: #444444;
    border-radius: 6px;
    border: none;
    background-image: url(./image/зображення_viber_2022-10-03_14-45-42-870.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

